<h1>Форма заказа</h1>

<%= render 'form' %>

<div id="dialog" title="Заявка принята." style="display: none;">
  <p>Ваша заявка на заказ успешна принята.</p>
  <p>Данные заказа отправлены Вам на email.</p>
</div>

<!--
<%= link_to 'Back', orders_path %>
-->
