// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#amount {
	border: 0; 
	color: #f6931f; 
	font-weight: bold;
}

#slider-range-min {
	width: 50%;
}