// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#amount {
  border: 0;
  //color: #f6931f;
  font-weight: bold;
  //text-decoration: none;
  background-color: transparent;
  width: 35px;
}

#wrapper_form_for_order {
  width: 50%;
  text-align: center;
}

#slider-range-min {
  width: 100%;
}

#slider_min_value {
  float: left;
}

#slider_max_value {
  float: right;
}